# MarineAgent

X402_ENABLED=false

# Receiver wallet
X402_AVM_ADDRESS=REPLACE_ME

# Facilitator
X402_FACILITATOR_URL=https://facilitator.goplausible.xyz

# Algorand TestNet
X402_NETWORK=algorand:SGO1GKSzyE7IEPItTxCByw9x8FmnrCDexi9/cOUJOiI=

# Pricing
X402_ETA_RISK_PRICE_USD=0.02

# Startup
X402_SYNC_FACILITATOR_ON_START=false

# Demo payer / Python client only
AVM_PRIVATE_KEY=REPLACE_ME

# Demo resource
RESOURCE_URL=http://127.0.0.1:8000/v1/vessels/9321483/eta-risk?promised_eta=2026-06-09
